@use 'variaveis';

.header {
    background-color: transparent;
    position: absolute;
    width: 100vw;
    padding: 8px;

    .container {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &-btn__logar {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid variaveis.$titles_color;
        font-size: 14px;
        background-color: variaveis.$bg_color;
        opacity: 80%;
    }
    
}